# Derived from Mapperly's packaging script (https://github.com/riok/mapperly) under the MIT License.

name: release

on:
  release:
    types:
      - published

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: true
  NUGET_SOURCE: 'https://api.nuget.org/v3/index.json'

concurrency:
  group: ${{ github.workflow }}

jobs:
  build-and-test:
    uses: ./.github/workflows/build-and-test.yml

  release:
    needs: build-and-test
    runs-on: ubuntu-latest
    environment: ${{ github.event.release.prerelease && 'next' || 'stable' }}
    permissions:
      contents: write
    outputs:
      version: ${{ steps.extract-version.outputs.RELEASE_VERSION }}
    steps:
      - name: checkout git
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - id: extract-version
        name: extract version
        run: echo "RELEASE_VERSION=${RELEASE_NAME#v}" >> "$GITHUB_OUTPUT"
        env:
          RELEASE_NAME: ${{ github.event.release.name }}

      - name: extract release notes
        id: extract-release-notes
        run: |
          {
            echo 'RELEASE_NOTES<<EOF';
            gh release view '${{ github.event.release.name }}' --json body --jq .body;
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ github.token }}

      - name: convert release notes markdown to text
        id: release-notes-text
        uses: koistya/strip-markdown@v1
        with:
          content: ${{ steps.extract-release-notes.outputs.RELEASE_NOTES }}

      - name: Setup .NET 8 SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Setup .NET 10 SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: install dependencies
        run: sudo apt update && sudo apt -y install zipmerge # zipmerge is used to merge the multi target nupkg

      - name: build release
        run: ./build-scripts/build-and-pack.sh
        env:
          RELEASE_NOTES: ${{ steps.release-notes-text.outputs.content }}
          RELEASE_VERSION: ${{ steps.extract-version.outputs.RELEASE_VERSION }}

      - name: publish nuget
        run: dotnet nuget push './artifacts/*.nupkg' --source "$NUGET_SOURCE" --api-key '${{ secrets.NUGET_API_KEY }}' --skip-duplicate

      - name: add release assets
        run: gh release upload "${{ github.event.release.name }}" artifacts/*.nupkg
        env:
          GH_TOKEN: ${{ github.token }}
  docs:
    needs: release
    uses: ./.github/workflows/docs.yml
    with:
      version: ${{ needs.release.outputs.version }}
    secrets: inherit
